* {
 font-family: Roboto;
}

body {
    font-family: Roboto;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.mainone{
    background-color: #1f2937;
    color: white;
}

.navigation {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.headerlogo {
    font-size: 18px;
    font-weight: 700;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.awesometext {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding: 0;
    margin: 30px 0 0 0;
}

.firsttext-together {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.firsttext {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-right: 20px;

}

.imagefirstmain {
    display: flex;
    width: 400px;
    height: 200px;
    padding: 20px 20px 60px 50px;
    }

.buttonone {
        background-color: #3882f6;
        color: white;
        padding: 5px;
        max-width: 100px;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: transparent;
        margin-bottom: 90px;
    }

.maintwo {
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.block {
    display: flex;
    padding: 40px;
    margin: 0 300px;
    flex-shrink: 1;
    gap: 20px;
}


.image {
    border-radius: 1rem;
    width: 150px;
    height: auto;
}

.mainthree {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 0 280px;

}

.quotetext {
    display: flex;
    margin-bottom: 0;
}

.quoteauthor {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    font-weight: 900;
    color: black;
}

.mainfour {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    color: white;
    padding: 10px 0 10px 50px;
    margin:  60px 250px;
    border-radius: 6px;
}

.actioncontainer {
    display: flex;
    align-items: center;
    margin-right: 200px;

}

.actionsign {
    font-weight: 600;
    font-size: 18px;
}

.buttontwo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-color: white;
    width: 120px;
    height: 30px;
    border-radius: 6px;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #1f2937;
    color: white;

    margin: 0;
}